#map {
    height: 400px;
}

.leaflet-search-results {
    max-height: 200px;
    overflow-y: auto;
}

#coordinates-list {
    list-style: none;
    padding: 0;
}

.coordinate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.delete-button {
    cursor: pointer;
    color: red;
    font-weight: bold;
}